[Unit]
Description=PIXIS installer
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/pixis-installer.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

